@model IEnumerable<PostIndexViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AlejoF Simple Blog</h1>
    <p>Latest Posts</p>
</div>

<div class="container my-5 text-left">
    @foreach (var post in Model)
    {
        <div class="card my-3">
            <div class="card-body">
                <h2 class="card-title">@post.Title</h2>
                <p class="small">by @post.Author</p>
                <p class="card-text"><pre>@post.Content</pre></p>

                <a asp-action="Detail" asp-route-slug="@post.Slug">Read more</a>
            </div>
        </div>
    }
    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            No posts (yet)
        </div>
    }
    <div class="py-5">
        @if (User.IsInRole("Writer"))
        {
            <a asp-action="Index" asp-controller="Writer" class="btn btn-primary">View drafts</a>
            <a asp-action="Edit" asp-controller="Writer" class="btn btn-info">New Draft</a>
        }
        @if (User.IsInRole("Editor"))
        {
            <a asp-action="Index" asp-controller="Editor" class="btn btn-primary">View pending posts</a>
        }
    </div>
</div>

